<!-- <p class=" text-center mt-2 mb-3">Escolha uma Matéria:</p> -->
<!--
<div class="btn btn-flat d-flex justify-content-center mt-5 mb-5">
  <%= form_tag questions_path, method: :get do %>
    <%= hidden_field_tag :query,
      'matematica',
      class: "hidden"
    %>
    <%= submit_tag "Matematica", class: "btn btn-flat " %>
  <% end %>
</div>

<div class="btn btn-flat d-flex justify-content-center mt-5 mb-5">
  <%= form_tag questions_path, method: :get do %>
    <%= hidden_field_tag :query,
      'portugues',
      class: "hidden"
    %>
    <%= submit_tag "Portugues", class: "btn btn-flat " %>
  <% end %>
</div>
<div class="btn btn-flat d-flex justify-content-center mt-5 mb-5">
  <%= form_tag questions_path, method: :get do %>
    <%= hidden_field_tag :query,
      'historia',
      class: "hidden"
    %>
    <%= submit_tag "Historia", class: "btn btn-flat " %>
  <% end %>
</div>
-->

  <% @answers.each do |answer| %>
    <div class="mt-2 mb-3 ">
      <div class=" text-center mb-3">
        <%= answer.alternative.question.content %>
      </div>
      <div class="text-center">
      <% if answer.alternative.is_correct %>
        <i class="far fa-check-circle"></i>
<!--         <%= answer.alternative.content %>
 -->      <% else %>
        <i class="far fa-times-circle"></i>
      </div>
      <% end %>
       <!-- <div>
        <%= answer.alternative.content %>
      </div> -->

  <% end %>
