<div>
  <% @students.each do |student| %>
    <div class="d-flex justify-content-start ">
      <div class=" align-self-center mr-2"></div>
      <div>
        <div>
          <span class="mural-info-text-title"><%= student.name %></span>
          <span class="mural-info-text-title">|</span>
          <span class="mural-info-text-title"><%= "#{student.classroom.year}ª" "#{student.classroom.name}"%></span>
        </div>
        <small class="mural-info-text" ><%= "#{student.corrects}/#{student.answered}" %></small>
      </div>
    </div>
  <% end %>
</div>

<!-- Layout de tabela
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Aluno</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <th scope="row"><%= student.name %></th>
        <td><%="#{student.corrects}/#{student.answered}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->

