<div class='container col-3 whitebox'>

  <h2 class="text-center mt-2 mb-5"> Turma: <%= @classroom.year%>ยบ<%=@classroom.name %></h2>
  <h4 class="text-center mt-2 mb-5"> Aguarde...</h4>

  <div id="messages" data-chatroom-id="<%= @classroom.id %>">
  
    <% @classroom.questions.each do |question| %>
      <div class="message-container" id="message-<%= question.id %>">
        <i class="author">
          <span><%= question.user.name %></span>
        </i>
        <p><%= question.content %></p>
      </div>
    <% end %>
    
    <% @question.alternatives.each do |alternative| %>
      <div class="message-container" id="message-<%= alternative.(alternative_id) %>">
        <i class="author">
          <span><%= alternative.user.name %></span>
        </i>
      <p><%= alternative.content %></p>
      </div>
    <% end %>
  
  </div>

</div>