<div class='container col-3 whitebox'>

  <h2 class="text-center mt-2 mb-2"> Turma: <%= @classroom.year%>ยบ<%=@classroom.name %></h2>
  <h4 class="text-center mt-2 mb-2"> Aguarde...</h4>

    <% @classroom.questions.each do |question| %>
      <% if not question.answered?(current_user) and question.can_be_displayed? %>
        <div class="message-container" id="message-<%= question.id %>">
          <p class="question"><%= question.content %></p>
          <%= simple_form_for @answer, url: create_answer_path, remote: true do |f| %>
            <%= f.input :alternative_id,
                        as: :radio_buttons,
                        label: "Resposta:",
                        collection: question.alternatives,
                        label_method: :content,
                        value_method: :id %>
            <%= f.submit "Enviar" %>
          <% end %>  
        </div>
      <% end %>
    <% end %>
  </div>
</div>