<div class='container col-3 whitebox'>

  <h2 class="text-center mt-2 mb-5"> Turma: <%= @classroom.year%>ยบ<%= @classroom.name %></h2>
  <h4 class="text-center mt-2 mb-5"> Aguarde...</h4>

  <div id="messages" data-chatroom-id="<%= @classroom.id %>">
  
    <% @classroom.questions.each do |question| %>
      <div class="message-container" id="message-<%= question.id %>">
        <i class="author">
          <span><%= question.user.name %></span>
        </i>
        <p><%= question.content %></p>
        <%= simple_form_for @answer, url: create_answer_path do |f| %>
          <%= f.collection_radio_buttons :alternative, question.alternatives, :id, :alternative %>
        <% end %>  
        
      </div>
    <% end %>
      
  </div>

</div>