<div  class="container col-3 whitebox">
<h2 class="text-center mt-2 mb-5">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                wrapper_html: { class: 'formtext' },
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions btn btn-flat btn-block">
    <%= f.button :submit, "reset password" %>
  </div>
<% end %>

<div class="d-flex justify-content-between my-3">
  <%= link_to "Sign up", new_registration_path(resource_name) %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>
</div>
