<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Eu sei!</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <% if current_user %>
                <%= link_to "Salas de Aula", classrooms_path, class: "dropdown-item" %>

                <%= link_to "Sair", destroy_user_session_path, class: "dropdown-item", method: :delete%>
              <% else %>
                <%= link_to "Login", user_session_path, class: "dropdown-item" %>
                <%= link_to "Cadastre-se", new_user_registration_path, class: "dropdown-item" %>
              <% end %>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="banner-profile mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container ">
    <div class="pt-5 mt-5">
      <i class="fas fa-user-circle d-flex justify-content-center mt-3 mb-4"></i>
      <h3 class="d-flex justify-content-center mt-3 text-white">
        <%= current_user.name %>
      </h3>
      <h4 class="d-flex justify-content-center mt-3 text-white">
        <%= current_user.email %>
      </h4>
      <h4 class="d-flex justify-content-center mt-3 mb-3 text-white">
        <%= current_user.subject %>
      </h4>

      </div>

<div class=" d-flex justify-content-center mb-5">
  <%= link_to "editar?", edit_user_registration_path, class: "text-white" %>
</div>



</div>
<div class=" d-flex justify-content-center">
<%= link_to "Sala de Aula", classrooms_path, class: "btn btn-flat" %>
</div>
<div class="container d-flex justify-content-around pt-5 mb-5">
  <div class="col-10">
    <div class="cards-profile pt-3 mb-"3>

 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.monsterinsights.com/wp-content/uploads/2018/04/GA-Vanity-Metrics.jpg)">

 </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://miro.medium.com/max/3840/1*XQg3eidVdSb-KKMAIc_Frw.jpeg)">
    <%= link_to "Questions", questions_path, class: "text-white text-decoration-none" %>
  </div>


    </div>
  </div>
</div>
