<h4>Crie as respostas para a pergunta <%= @question.content %></h4>

<%= simple_form_for [@question, @alternative] do |f|%>

  <%= f.input :content , label: "Escreva a alternativa" %>
  <%= f.input :is_correct, as: :radio_buttons, label: "Essa alternativa é a correta?" %>
  <%= f.button :submit, class: 'btn btn-primary' %>

<% end %>

<p>
  <%= link_to 'Ver questão', question_path(@question) %>
</p>

<p>
  <%= link_to 'Criar nova questão' %>
</p>
