<h4>Crie as alternativas para a pergunta <%= @question.content %></h4>

<%= simple_form_for [@question, @alternative] do |f|%>

  <%= f.input :content %>
  <%= f.input :is_correct, as: :radio_buttons %>
  <%= f.button :submit, class: 'btn btn-primary' %>

<% end %>

<p>
  <%= link_to 'Finalizar', question_path(@question) %>
</p>
