<div  class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 whitebox">
      <h4 class="text-center mt-2 mb-2">Crie as alternativas para a pergunta <%= @question.content %></h4>

      <%= simple_form_for [@question, @alternative] do |f|%>

        <%= f.input :content , label: "Escreva a alternativa" %>
        <%= f.input :is_correct, as: :radio_buttons, label: "Essa alternativa é a correta?" %>
        <%= f.button :submit, class: 'btn btn-flat btn-block mt-4' %>

      <% end %>
      <div class="d-flex justify-content-between mt-3 mb-3">
        <p><%= link_to 'Finalizar', question_path(@question) %></p>
        <p><%= link_to 'Criar nova questão' %></p>
      </div>
    </div>
  </div>
</div>
